{% extends 'layout.html' %}

{% block header %}
<div class="container">
    <div class="row">
        <div class="col-md-4"><h2>{{ title }} ({{ amount }})</h2></div>
        <div class="col-md-8">
            <form class="form-inline" id="ipForm" onsubmit="return false;">
                <div class="form-group">
                    <label for="inputIP">Address</label>
                    <input type="text" class="form-control" id="inputIP" placeholder="127.0.0.1">
                </div>
                <div class="form-group">
                    <label for="inputComment">Comment</label>
                    <input type="text" class="form-control" id="inputComment" placeholder="...">
                </div>
                <button class="btn btn-info" id="btn-reserve" data-container="body" data-toggle="popover" data-trigger="focus" title="." data-placement="bottom" data-content=".">Reserve</button>
                <button class="btn btn-warning" id="btn-release" data-container="body" data-toggle="popover" data-trigger="focus" title="." data-placement="bottom" data-content=".">Release</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped" id="ipListing">
    <thead>
    <tr>
        <th data-sort="string">IP</th>
        <th data-sort="string">Comment</th>
        <th data-sort="string">Reverse DNS</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row.value }}</td>
        <td>{{ row.comment }}</td>
        <td>{{ row.dns }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
<script language="JavaScript">
    $(function () {

        function reload_table() {
            $( "#ipListing" ).load( window.location.href + " #ipListing" );
        }

        function update_done(btn) {
            $('#ipForm')[0].reset();
            reload_table();
            var cls = $(btn).attr('class');
            $(btn).attr('class', 'btn btn-success');
            $(btn).attr('title', 'Update successful').attr('data-content',':) That worked').popover('show');
            setTimeout(function() {
                $(btn).attr('class', cls);
                $(btn).popover('hide')
            },800)
        }

        function update_fail(btn) {
            $('#ipForm')[0].reset();
            reload_table();
            var cls = $(btn).attr('class');
            $(btn).attr('class', 'btn btn-danger');
            $(btn).attr('title', 'Update failed').attr('data-content','Please check the validity of the passed arguments.').popover('show');
            setTimeout(function() {
                $(btn).attr('class', cls);
            },800)
        }

        $('#btn-reserve').click(function (event) {
            event.stopPropagation();
            $.ajax({
                url: '/ip/' + $('#inputIP').val(),
                data: 'comment=' + encodeURIComponent($('#inputComment').val()),
                type: 'PUT'
            }).done(update_done.bind(null,'#btn-reserve')).fail(update_fail.bind(null,'#btn-reserve'));
        });
        $('#btn-release').click(function (event) {
            event.stopPropagation();
            $.ajax({
                url: '/ip/' + $('#inputIP').val(),
                type: 'DELETE'
            }).done(update_done.bind(null,'#btn-release')).fail(update_fail.bind(null,'#btn-release'));
        });
    });
</script>
{% endblock %}
